.button {
  background-color: $blue;
  color: white;
  font-size: $font-size-large;
  font-weight: 300;
  border: none;
  padding: $s-size;

  display: inline-block;
  text-decoration: none;
  line-height: 1; // dictates the height of a button
  transition: all 0.2s;

  &:hover {
    background-color: lighten($blue, 10%);
  }
}

.button--link {
  background: none;
  transition: all 0.2s;

  &:hover {
    background: lighten($dark-blue, 10%);
  }
}

.button--secondary {
  background-color: $button-grey;

  &:hover {
    background-color: lighten($button-grey, 10%);
  }
}
